/* h1 {
    color: aquamarine;
    font-size: 50px;
}
p{
    color: red;
} */


/* 
.box{
    background-color: darkblue;
    color: white;
    padding: 20px;
    border: 3px;
    margin: 20px;
}

.box1{
    width: 200px;
    height: 100px;
    overflow: hidden;
    
}

.box2{
    width: 50%;
}
.box2 p{
    width: 50%;
}
.box3{
    max-width: 800px;
    min-width: 500px;
}


.none-el{
    display: none;
}

.hidden-el{
    visibility: hidden;
}
p{
    display: inline;
}
a{
    display: block;
    background-color: lightsalmon;
    border: blue solid 2px;
    padding: 10px;
    margin: 20px 10px;
    width: 200px;
    height: 100px;
} */

.box
{
    width: 200px;
    height: 200px;
    background: lightblue;
    display: flex;
    justify-content: center;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
}

.box-1{
    position: static;
    left: 30px;
}
.box-2{
    position: relative;
    left: 30px;
    right: 20px;
    top: 20px;
}
.box-3{
    position: fixed;
    top: 0;
    z-index: 2;
}

.box-4{
    position: sticky;
    top: 200px;
}
.box-5{
    position: relative;
    width: 600px;
    height: 600px;
    background:  orange;
}
.box-6{
    position: absolute;
    bottom: 20px;
    right: 20px;
}